*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background: linear-gradient(to top, #e457f4,#a88980);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
    max-width: 400px;
    width: 100%;
    background-color: aqua;
    box-shadow: 0 0 10px #333;
    border-radius: 10px;
    padding: 10px 20px;

}
.container h1{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #333;

}
.input{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    align-items: center;

}
.count{
    background-color: #e457f4;
    padding: 5px 10px 50px;
    box-shadow: inset 5px 5px 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    
}
.input input{
    width: 40%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    font-size: 26px;
    font-weight: 600;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);


}
.count .btn{
    display: flex;
    justify-content: space-between;
    padding: 7px 14px;

}

.count .btn button{
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
     border: none;
     outline: none;
     background: linear-gradient(#7cdd32,#51c5e2);
     transition: all 0.5s;
     cursor: pointer;
     font-weight: 600;
     z-index: 2;

}
  .btn button:hover{
    background: linear-gradient(to top,#a7da80,#4fae2d);
}
p{
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
}